body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.first-section {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}
.first-section img {
  height: 30vh;
}
